# Исключить node_modules, так как они будут установлены внутри контейнера
node_modules

# Исключить локальные файлы конфигурации
*.env
*.local

# Исключить временные файлы и логи
*.log
tmp/
temp/
*.tmp

# Исключить файлы сборки
dist/
build/

# Исключить файлы настройки IDE и редакторов кода
.idea/
.vscode/
*.swp

# Исключить git-репозиторий и файлы
.git
.gitignore

# Исключить Dockerfile и docker-compose.yml, если они не нужны внутри контейнера
Dockerfile
docker-compose.yml

# Исключить временные файлы операционной системы
.DS_Store
Thumbs.db
